# Criminalidad en España 2015-2020

## Importación de librerias

A continuación se importan las librerias que se van a utilizar:

In [97]:
import pandas as pd
import plotly.express as px

## Carga de los datos

### Fuente

Los datos se han obtenido de:
* [Portal Estadístico de Criminalidad (Ministerio del Interior)](https://estadisticasdecriminalidad.ses.mir.es/publico/portalestadistico/portal/balances.html)

### Pre-tratamiento de los datos

Los datos sobre criminalidad descargados no tienen un formato que se pueda tratar directamente, como puede verse en el documento descargado (../data/2016_1sc.csv), hay información que hay que desechar y la disposición en tablas no es la adecuada para su lectura. Para ello, se hace un formateo del fichero a través de el script treatCSV (../scripts/treatCSV.py), que modifica su estructura creando un nuevo archivo csv, haciendola más manejable, como se puede ver en ../data/2016_1scclean.csv.

### Carga de los datos

Una vez se han tratado los datos descargados, ya los podemos caragar en DataFrames de pandas

In [2]:


df_2016_1 = pd.read_csv('../data/2016_1scclean.csv', sep=";")
df_2016_2 = pd.read_csv('../data/2016_2scclean.csv', sep=";")
df_2016_3 = pd.read_csv('../data/2016_3scclean.csv', sep=";")
df_2016_4 = pd.read_csv('../data/2016_4scclean.csv', sep=";")

df_2017_1 = pd.read_csv('../data/2017_1scclean.csv', sep=";")
df_2017_2 = pd.read_csv('../data/2017_2scclean.csv', sep=";")
df_2017_3 = pd.read_csv('../data/2017_3scclean.csv', sep=";")
df_2017_4 = pd.read_csv('../data/2017_4scclean.csv', sep=";")

df_2018_1 = pd.read_csv('../data/2018_1scclean.csv', sep=";")
df_2018_2 = pd.read_csv('../data/2018_2scclean.csv', sep=";")
df_2018_3 = pd.read_csv('../data/2018_3scclean.csv', sep=";")
df_2018_4 = pd.read_csv('../data/2018_4scclean.csv', sep=";")

df_2019_1 = pd.read_csv('../data/2019_1scclean.csv', sep=";")
df_2019_2 = pd.read_csv('../data/2019_2scclean.csv', sep=";")
df_2019_3 = pd.read_csv('../data/2019_3scclean.csv', sep=";")
df_2019_4 = pd.read_csv('../data/2019_4scclean.csv', sep=";")

df_2020_1 = pd.read_csv('../data/2020_1scclean.csv', sep=";")
df_2020_2 = pd.read_csv('../data/2020_2scclean.csv', sep=";")
df_2020_3 = pd.read_csv('../data/2020_3scclean.csv', sep=";")
df_2020_4 = pd.read_csv('../data/2020_4scclean.csv', sep=";")

df_lista =[df_2016_1, df_2016_2, df_2016_3, df_2016_4,
            df_2017_1, df_2017_2, df_2017_3, df_2017_4,
            df_2018_1, df_2018_2, df_2018_3, df_2018_4,
            df_2019_1, df_2019_2, df_2019_3, df_2019_4,
            df_2020_1, df_2020_2, df_2020_3, df_2020_4]

Compruebo que los campos están limpios y que más o menos siguen un patrón en su estructura.

In [4]:
for df in df_lista:
    df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1768 entries, 0 to 1767
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              1768 non-null   object
 1   Provincia              1288 non-null   object
 2   Municipio              1520 non-null   object
 3   code                   1768 non-null   int64
 4   Delito                 1768 non-null   object
 5   Enero-marzo 2015       1768 non-null   float64
 6   Enero-marzo 2016       1768 non-null   float64
 7   Variación % 2016/2015  1768 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), int64(1), object(4)
memory usage: 124.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1768 entries, 0 to 1767
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              1768 non-null   object
 1   Provincia              1288 non-null   object
 2   Municipio              1520 non-null   object
 3   code                   1768 non-null   int64
 4   Delito                 1768 non-null   object
 5   Enero-junio 2015       1768 non-null   float64
 6   Enero-junio 2016       1768 non-null   float64
 7   Variación % 2016/2015  1768 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), int64(1), object(4)
memory usage: 124.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1768 entries, 0 to 1767
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              1768 non-null   object
 1   Provincia              1288 non-null   object
 2   Municipio              1520 non-null   object
 3   code                   1768 non-null   int64
 4   Delito                 1768 non-null   object
 5   Enero-Septiembre 2015  1768 non-null   float64
 6   Enero-Septiembre 2016  1768 non-null   float64
 7   Variación % 2016/2015  1768 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), int64(1), object(4)
memory usage: 124.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1768 entries, 0 to 1767
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              1768 non-null   object
 1   Provincia              1288 non-null   object
 2   Municipio              1520 non-null   object
 3   code                   1768 non-null   int64
 4   Delito                 1768 non-null   object
 5   Enero-Diciembre 2015   1768 non-null   float64
 6   Enero-Diciembre 2016   1768 non-null   float64
 7   Variación % 2016/2015  1768 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), int64(1), object(4)
memory usage: 124.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4494 entries, 0 to 4493
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4494 non-null   object
 1   Provincia              3318 non-null   object
 2   Municipio              4060 non-null   object
 3   code                   4494 non-null   object
 4   Delito                 4494 non-null   object
 5   Enero-marzo 2016       4494 non-null   float64
 6   Enero-marzo 2017       4494 non-null   float64
 7   Variación % 2017/2016  4494 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 316.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4494 entries, 0 to 4493
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4494 non-null   object
 1   Provincia              3318 non-null   object
 2   Municipio              4060 non-null   object
 3   code                   4494 non-null   object
 4   Delito                 4494 non-null   object
 5   Enero-junio 2016       4494 non-null   float64
 6   Enero-junio 2017       4494 non-null   float64
 7   Variación % 2017/2016  4494 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 316.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4494 entries, 0 to 4493
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4494 non-null   object
 1   Provincia              3318 non-null   object
 2   Municipio              4060 non-null   object
 3   code                   4494 non-null   object
 4   Delito                 4494 non-null   object
 5   Enero-septiembre 2016  4494 non-null   float64
 6   Enero-septiembre 2017  4494 non-null   float64
 7   Variación % 2017/2016  4494 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 316.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4522 entries, 0 to 4521
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4522 non-null   object
 1   Provincia              3346 non-null   object
 2   Municipio              4088 non-null   object
 3   code                   4522 non-null   object
 4   Delito                 4522 non-null   object
 5   Enero-diciembre 2016   4522 non-null   float64
 6   Enero-diciembre 2017   4522 non-null   float64
 7   Variación % 2017/2016  4522 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 318.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4522 entries, 0 to 4521
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4522 non-null   object
 1   Provincia              3346 non-null   object
 2   Municipio              4088 non-null   object
 3   code                   4522 non-null   object
 4   Delito                 4522 non-null   object
 5   Enero-marzo 2017       4522 non-null   float64
 6   Enero-marzo 2018       4522 non-null   float64
 7   Variación % 2018/2017  4522 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 318.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4522 entries, 0 to 4521
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4522 non-null   object
 1   Provincia              3346 non-null   object
 2   Municipio              4088 non-null   object
 3   code                   4522 non-null   object
 4   Delito                 4522 non-null   object
 5   Enero-junio 2017       4522 non-null   float64
 6   Enero-junio 2018       4522 non-null   float64
 7   Variación % 2018/2017  4522 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 318.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4522 entries, 0 to 4521
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4522 non-null   object
 1   Provincia              3346 non-null   object
 2   Municipio              4088 non-null   object
 3   code                   4522 non-null   object
 4   Delito                 4522 non-null   object
 5   Enero-septiembre 2017  4522 non-null   float64
 6   Enero-septiembre 2018  4522 non-null   float64
 7   Variación % 2018/2017  4522 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 318.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4845 entries, 0 to 4844
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4845 non-null   object
 1   Provincia              3585 non-null   object
 2   Municipio              4380 non-null   object
 3   code                   4845 non-null   object
 4   Delito                 4845 non-null   object
 5   Enero-diciembre 2017   4845 non-null   float64
 6   Enero-diciembre 2018   4845 non-null   float64
 7   Variación % 2018/2017  4845 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 340.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4920 non-null   object
 1   Provincia              3645 non-null   object
 2   Municipio              4455 non-null   object
 3   code                   4920 non-null   object
 4   Delito                 4920 non-null   object
 5   Enero-marzo 2018       4920 non-null   float64
 6   Enero-marzo 2019       4920 non-null   float64
 7   Variación % 2019/2018  4920 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 346.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4920 non-null   object
 1   Provincia              3645 non-null   object
 2   Municipio              4455 non-null   object
 3   code                   4920 non-null   object
 4   Delito                 4920 non-null   object
 5   Enero-junio 2018       4920 non-null   float64
 6   Enero-junio 2019       4920 non-null   float64
 7   Variación % 2019/2018  4920 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 346.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4920 non-null   object
 1   Provincia              3645 non-null   object
 2   Municipio              4455 non-null   object
 3   code                   4920 non-null   object
 4   Delito                 4920 non-null   object
 5   Enero-septiembre 2018  4920 non-null   float64
 6   Enero-septiembre 2019  4920 non-null   float64
 7   Variación % 2019/2018  4920 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 346.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4920 non-null   object
 1   Provincia              3645 non-null   object
 2   Municipio              4455 non-null   object
 3   code                   4920 non-null   object
 4   Delito                 4920 non-null   object
 5   Enero-diciembre 2018   4920 non-null   float64
 6   Enero-diciembre 2019   4920 non-null   float64
 7   Variación % 2019/2018  4920 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 346.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4920 non-null   object
 1   Provincia              3645 non-null   object
 2   Municipio              4455 non-null   object
 3   code                   4920 non-null   object
 4   Delito                 4920 non-null   object
 5   Enero-marzo 2019       4920 non-null   float64
 6   Enero-marzo 2020       4920 non-null   float64
 7   Variación % 2020/2019  4920 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 346.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4920 non-null   object
 1   Provincia              3645 non-null   object
 2   Municipio              4455 non-null   object
 3   code                   4920 non-null   object
 4   Delito                 4920 non-null   object
 5   Enero-junio 2019       4920 non-null   float64
 6   Enero-junio 2020       4920 non-null   float64
 7   Variación % 2020/2019  4920 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 346.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4920 non-null   object
 1   Provincia              3645 non-null   object
 2   Municipio              4455 non-null   object
 3   code                   4920 non-null   object
 4   Delito                 4920 non-null   object
 5   Enero-septiembre 2019  4920 non-null   float64
 6   Enero-septiembre 2020  4920 non-null   float64
 7   Variación % 2020/2019  4920 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 346.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidad              4920 non-null   object
 1   Provincia              3645 non-null   object
 2   Municipio              4455 non-null   object
 3   code                   4920 non-null   object
 4   Delito                 4920 non-null   object
 5   Enero-diciembre 2019   4920 non-null   float64
 6   Enero-diciembre 2020   4920 non-null   float64
 7   Variación % 2020/2019  4920 non-null   float64
 8   Unnamed: 8             0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 346.1+ KB

El número de registros va creciendo cuando cambiamos de año, compruebo las comunidades de cada archivo

In [5]:
for df in df_lista:
    print(len(df.groupby('Comunidad').Comunidad))

21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21

Compruebo el número de provincias

In [6]:
for df in df_lista:
    print(len(df.groupby('Provincia').Provincia))

43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43

Compruebo el número de municipios

In [7]:
for df in df_lista:
    print(len(df.groupby('Municipio').Municipio))

157
157
157
157
257
257
257
259
259
259
259
259
264
264
264
264
264
264
264
264

In [8]:
for df in df_lista:
    print(len(df.groupby('code').code))

8
8
8
8
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14

Los datos de 2016 difieren bastante de los años posteriores. Parece que del primer año al segundo hay un aumento de más de 100 municipios, el número de códigos utilizado para definir los delitos son diferentes. Definitivamente el dato 2015/2016 no lo voy a usar.

In [27]:
df_lista[5].columns

Index(['Comunidad', 'Provincia', 'Municipio', 'code', 'Delito',
       'Enero-junio 2016', 'Enero-junio 2017', 'Variación % 2017/2016',
       'Unnamed: 8'],
      dtype='object')

Voy a añadir todas las columnas en un dataset a través de los campos 'Comunidad', 'Provincia', 'Municipio', 'code', 'Delito'. Me quedaré con las columnas que hacen referencia al acumulado trimestral, y desecharé la de variación, ya que es fácilmente calculable, y la columna Unnamed

In [42]:
result =df_lista[4].iloc[:,:7]
for df in df_lista[5:]:
    result = pd.merge(result,df.iloc[:,:7], how ='outer' ,on=['Comunidad', 'Provincia', 'Municipio', 'code','Delito'])

print('Tamaño de la tabla final',len( result),'filas')
result

Tamaño de la tabla final 4963 filas

,Comunidad,Provincia,Municipio,code,Delito,Enero-marzo 2016,Enero-marzo 2017_x,Enero-junio 2016,Enero-junio 2017_x,Enero-septiembre 2016,...,Enero-diciembre 2018_y,Enero-diciembre 2019_x,Enero-marzo 2019_y,Enero-marzo 2020,Enero-junio 2019_y,Enero-junio 2020,Enero-septiembre 2019_y,Enero-septiembre 2020,Enero-diciembre 2019_y,Enero-diciembre 2020
0,ANDALUCÍA,NaN,NaN,1,Homicidios dolosos y asesinatos consumados,16.0,12.0,24.0,28.0,49.0,...,72.0,82.0,15.0,17.0,34.0,29.0,60.0,47.0,82.0,60.0
1,ANDALUCÍA,NaN,NaN,2,Homicidios dolosos y asesinatos en grado tenta...,45.0,59.0,112.0,122.0,165.0,...,190.0,158.0,30.0,50.0,71.0,116.0,111.0,190.0,156.0,238.0
2,ANDALUCÍA,NaN,NaN,3,Delitos graves y menos graves de lesiones y ri...,644.0,681.0,1361.0,1448.0,2237.0,...,2931.0,3459.0,723.0,767.0,1499.0,1355.0,2558.0,2315.0,3474.0,3054.0
3,ANDALUCÍA,NaN,NaN,4,Secuestro,3.0,1.0,7.0,10.0,11.0,...,26.0,31.0,12.0,6.0,24.0,12.0,26.0,18.0,31.0,23.0
4,ANDALUCÍA,NaN,NaN,5,Delitos contra la libertad e indemnidad sexual,416.0,516.0,926.0,1046.0,1417.0,...,2339.0,2516.0,599.0,532.0,1214.0,1009.0,1886.0,1665.0,2510.0,2215.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958,MADRID (COMUNIDAD DE),NaN,Arroyomolinos,8,Hurtos,NaN,NaN,NaN,NaN,NaN,...,1427.0,1621.0,415.0,363.0,790.0,416.0,1158.0,659.0,1621.0,1015.0
4959,MADRID (COMUNIDAD DE),NaN,Arroyomolinos,9,Sustracciones de vehículos,NaN,NaN,NaN,NaN,NaN,...,59.0,52.0,16.0,19.0,30.0,28.0,36.0,44.0,52.0,58.0
4960,MADRID (COMUNIDAD DE),NaN,Arroyomolinos,10,Tráfico de drogas,NaN,NaN,NaN,NaN,NaN,...,5.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0,4.0
4961,MADRID (COMUNIDAD DE),NaN,Arroyomolinos,code,Resto de infracciones penales,NaN,NaN,NaN,NaN,NaN,...,1014.0,1062.0,266.0,251.0,518.0,429.0,802.0,763.0,1062.0,1122.0
4962,MADRID (COMUNIDAD DE),NaN,Arroyomolinos,code,TOTAL INFRACCIONES PENALES,NaN,NaN,NaN,NaN,NaN,...,2642.0,2886.0,740.0,676.0,1416.0,936.0,2105.0,1579.0,2886.0,2339.0

Al unir todos los datos, me aparecen columnas repetidas, voy a borrar las que tienen el sufijo '_y'

In [58]:
y_columns = result.columns[result.columns.str.contains('_y')]
result = result.drop(y_columns, axis=1)
result.columns

Index(['Comunidad', 'Provincia', 'Municipio', 'code', 'Delito',
       'Enero-marzo 2016', 'Enero-marzo 2017_x', 'Enero-junio 2016',
       'Enero-junio 2017_x', 'Enero-septiembre 2016',
       'Enero-septiembre 2017_x', 'Enero-diciembre 2016',
       'Enero-diciembre 2017_x', 'Enero-marzo 2018_x', 'Enero-junio 2018_x',
       'Enero-septiembre 2018_x', 'Enero-diciembre 2018_x',
       'Enero-marzo 2019_x', 'Enero-junio 2019_x', 'Enero-septiembre 2019_x',
       'Enero-diciembre 2019_x', 'Enero-marzo 2020', 'Enero-junio 2020',
       'Enero-septiembre 2020', 'Enero-diciembre 2020'],
      dtype='object')

Ordeno las columnas por año

In [75]:

anyos = ['2016','2017','2018','2019','2020']

sort_result=result.iloc[:,:5]

for anyo in anyos:
    year_columns = result.columns[result.columns.str.contains(anyo)]
    sort_result= pd.concat([sort_result,result[year_columns]],axis=1)

sort_result

,Comunidad,Provincia,Municipio,code,Delito,Enero-marzo 2016,Enero-junio 2016,Enero-septiembre 2016,Enero-diciembre 2016,Enero-marzo 2017_x,...,Enero-septiembre 2018_x,Enero-diciembre 2018_x,Enero-marzo 2019_x,Enero-junio 2019_x,Enero-septiembre 2019_x,Enero-diciembre 2019_x,Enero-marzo 2020,Enero-junio 2020,Enero-septiembre 2020,Enero-diciembre 2020
0,ANDALUCÍA,NaN,NaN,1,Homicidios dolosos y asesinatos consumados,16.0,24.0,49.0,68.0,12.0,...,54.0,72.0,15.0,33.0,59.0,82.0,17.0,29.0,47.0,60.0
1,ANDALUCÍA,NaN,NaN,2,Homicidios dolosos y asesinatos en grado tenta...,45.0,112.0,165.0,227.0,59.0,...,134.0,190.0,31.0,72.0,113.0,158.0,50.0,116.0,190.0,238.0
2,ANDALUCÍA,NaN,NaN,3,Delitos graves y menos graves de lesiones y ri...,644.0,1361.0,2237.0,2911.0,681.0,...,2198.0,2917.0,725.0,1493.0,2547.0,3459.0,767.0,1355.0,2315.0,3054.0
3,ANDALUCÍA,NaN,NaN,4,Secuestro,3.0,7.0,11.0,16.0,1.0,...,21.0,26.0,13.0,24.0,26.0,31.0,6.0,12.0,18.0,23.0
4,ANDALUCÍA,NaN,NaN,5,Delitos contra la libertad e indemnidad sexual,416.0,926.0,1417.0,1837.0,516.0,...,1812.0,2348.0,599.0,1218.0,1891.0,2516.0,532.0,1009.0,1665.0,2215.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958,MADRID (COMUNIDAD DE),NaN,Arroyomolinos,8,Hurtos,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,415.0,790.0,1158.0,1621.0,363.0,416.0,659.0,1015.0
4959,MADRID (COMUNIDAD DE),NaN,Arroyomolinos,9,Sustracciones de vehículos,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16.0,30.0,36.0,52.0,19.0,28.0,44.0,58.0
4960,MADRID (COMUNIDAD DE),NaN,Arroyomolinos,10,Tráfico de drogas,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,2.0,2.0,0.0,1.0,2.0,4.0
4961,MADRID (COMUNIDAD DE),NaN,Arroyomolinos,code,Resto de infracciones penales,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,266.0,518.0,802.0,1062.0,251.0,429.0,763.0,1122.0
4962,MADRID (COMUNIDAD DE),NaN,Arroyomolinos,code,TOTAL INFRACCIONES PENALES,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,740.0,1416.0,2105.0,2886.0,676.0,936.0,1579.0,2339.0

Total Nacional

In [115]:
sort_result.groupby('Comunidad').Comunidad.count()
total_penal = sort_result[sort_result.Comunidad.str.contains('NACIONAL') & sort_result.Delito.str.contains('TOTAL')]
espana = sort_result[sort_result.Comunidad.str.contains('NACIONAL') & ~ sort_result.Delito.str.contains('TOTAL')
                                & ~ sort_result.Delito.str.contains('Resto')]

# espana=espana[['code','Delito','Enero-diciembre 2016', 'Enero-diciembre 2017_x','Enero-diciembre 2018_x','Enero-diciembre 2019_x','Enero-diciembre 2020']]
# espana.columns = ['Code','Delito','2016','2017','2018','2019','2020']
# espana

# fig = px.bar(espana, x='2016', y='Delito')
# fig.show()

,Comunidad,Provincia,Municipio,code,Delito,Enero-marzo 2016,Enero-junio 2016,Enero-septiembre 2016,Enero-diciembre 2016,Enero-marzo 2017_x,...,Enero-septiembre 2018_x,Enero-diciembre 2018_x,Enero-marzo 2019_x,Enero-junio 2019_x,Enero-septiembre 2019_x,Enero-diciembre 2019_x,Enero-marzo 2020,Enero-junio 2020,Enero-septiembre 2020,Enero-diciembre 2020
4480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN